.SearchedMovieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10.2rem;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    position: relative;
    margin: 20px 0px;
    font-weight: normal;
     filter: drop-shadow(16px 16px 15px rgba(0,0,0,0.4));
}

.SearchedResultsTitle{
    background: linear-gradient(rgba(92,151,255,0.6),rgba(92,151,255,0.6));
    color: white;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    align-self: center;
    padding-top: 25px;
    box-sizing: border-box;
    padding-left: 25%;
}
.SearchedResultsInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0.4rem;
    font-family: 'Times New Roman', Times, serif;
}
.SearchedMovieTitle{
    font-size: 1.25rem;
    font-weight: bold;
}
.SearchedMovieDate{
    font-size: 0.8rem;

}

.SearchedMovieContainer .SearchedMovieImage{
    position: absolute;
    top:20;
    left: 0;
}
.SearchedMovieOverView{
    margin-left: 5.5rem;
    margin-top: 10px;
}

.SearchedMoviesDetails{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    margin-left: 10%;
    margin-top: 4%;
    width: 16rem;
    height: 20rem;
    border: 1px solid black;
}