.SearchBarContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 24rem;
    width:  80%;
    /* background-image: linear-gradient(
    rgba(75, 119, 190, .50),
      rgba(75, 119, 190, .50)
    ),url('../assets/images/scarfaceImage.jpeg'); */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.InputContainer{
    display: flex;
    margin-right: 5%;
    width: 80%;
}
.InputField{
    height: 2.5rem;
    width:80%;
    border-radius: 25px;
    border: none;
	min-height: 50px;
	background-color: #eee;
    height: auto;
    margin-bottom: 5%;
    padding-left: 50px;
 
}
.InputField::-webkit-input-placeholder{
    padding-left: 0px;
    color: black;
    font-size: .8rem;
    align-content: center;
}

.InputField:focus{
    outline: none;
}
.SearchBarLabel{
    margin-bottom: .5%;
    padding: 0;
    font-size: 2.5rem;
    color: white;
    margin-right: 60%;
}

.SearchBarInfo{
    margin-bottom: 2%;
    padding: 0;
    font-size: 2.5rem;
    color: white;
    margin-right: 33%;
}
.Button{
    height: 55px;
    width: 100px;
    background: linear-gradient(rgba(92,151,255,1.0),rgba(92,151,255,1.0));
    border-radius: 25%;
    border: none;
    margin-left: -50px;
    opacity: 1;
    color:white;
}
.Button:hover{
   color: black;
}