.CastMemberContainer{
    height: 12rem;
    width: 8rem;
    margin: 0 20px;

}
.RealName{
    height: 20px;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}
.CharacterName{
    height: 20px;
    text-align: center;
    font-size: .8rem;
  
}