
.TopComediesContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 24rem;
    position: relative;
    overflow-x: scroll;
    scrollbar-face-color:blue;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    filter: drop-shadow(16px 16px 15px rgba(0,0,0,0.6));
}

.TopComediesContainer::-webkit-scrollbar {
 width: 12px;
}

.TopComediesContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.TopComediesContainer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(rgba(92,151,255,0.6),rgba(92,151,255,0.6));
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


 .TopComediesLabel{
    color: black;
    font-size: 24px;
    font-weight: bolder;
    align-self:flex-start;
    margin-left: 10%;
    padding-top: 50px;
}

.MovieName{
    display: block;
}