
.TopComediesContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 24rem;
   /* background: linear-gradient(rgba(92,151,255,0.6),rgba(92,151,255,0.6)); */
    /* margin-top: 4%; */
    position: relative;
    overflow-x: scroll;
}
 .TopComediesLabel{
    color: black;
    font-size: 24px;
    font-weight: bolder;
    align-self:flex-start;
    margin-left: 10%;
    padding-top: 50px;
}

.MovieName{
    display: block;
}