.TopMovieContainer{
    height: 12rem;
    width: 8rem;
    background-color: white;
    margin: 0 20px;
}
.TopMovieContainer:hover{
   cursor:pointer;
}

.TopMovieName{
height: 20px;
text-align: center;
font-size: 12px;
}